div.container {
    position: relative;
    margin: auto;
    display: block;
    width: 400;
}

.auth-input {
    width: 400;
}

.auth-button {
    width: 400;
    background-color: #05AFA8;
    color: #fff;
}

.toolbar-title {
    position: relative;
    margin: auto;
    display: block;
}