<md-toolbar class="md-accent">
    <img class="toolbar-logo" src="assets/satlogo.png"/>
    <h1 class="toolbar-title" >SAT - SISTEMA DE AUTOMATIZACION DE TRAMITES</h1>
    <span class="app-toolbar-filler"></span>
</md-toolbar>
<div class="container">
    <div><img class="form-logo" src="assets/satlogo2.png"></div>
    <div class="form-element">
        <md-input #nickname type="number" placeholder="Cedula" class="auth-input"></md-input>
    </div>
    <div class="form-element">
        <md-input #password type="password" placeholder="Contraseña" class="auth-input"></md-input>
    </div>
    <div>
        <button md-raised-button disableRipple="false" class="auth-button ">INICIAR SESIÓN</button>
    </div>
</div>