div.container {
    padding-top: 200;
    position: relative;
    margin: auto;
    display: block;
    width: 400;
}

.auth-input {
    width: 400;
}

.auth-button {
    margin-top: 20;
    width: 400;
    background-color: #05AFA8;
    color: #fff;
}

.toolbar-title {
    position: relative;
    margin: auto;
    display: block;
}

.toolbar-logo {
    width: 200;
    margin-top: -5;
}

.form-logo {
    width: 400;
    margin-bottom: 100;
}

.separtor-container {
    display: inline-block;
    width: 400;
}

.separator {
    width: 190;
}