<md-sidenav-layout>
    <md-sidenav #start class="app-sidenav" >
        <div><img class="form-logo" src="assets/satlogo2.png"></div>
        <ul>
            <li class="menu" *ngFor="let hero of menus" (click)="onSelect(hero)">
                <span>{{hero.name}}</span>
            </li>
        </ul>
    </md-sidenav>
<md-toolbar class="md-accent">
    <i class="material-icons app-input-icon icon-space" (click)="start.toggle()">menu</i>
    <img class="toolbar-logo" src="assets/satlogo.png"/>
    <h1 class="toolbar-title">SAT - Sistema de Automatizacion de Tramites</h1>
    <span class="app-toolbar-filler"></span>
</md-toolbar>

<div class="container">

    <h1 class="Title">

    </h1>
        <div style="text-align:right; ">


        </div>

     <table align="center" style="margin-bottom: 30">
          
        <tr *ngFor="let solicitud of selectSolicitud" class="li1">
            <td style=" padding-left: 20;">
                <div>
                    <strong> {{solicitud.id}}</strong>
                </div>
            </td>
            <td >
                <div>
                    <strong>{{solicitud.nombre}}</strong>
                </div>
            </td>

            <td >
                <div>
                    <strong>{{solicitud.descripcion}}</strong>
                </div>
            </td>
            <td style="width:5%;">
                <div style="display: flex; ">
                    <a *ngIf="!user" (click)="editItem(solicitud)" title="Editar">
                        <i class="material-icons campogreen1">mode_edit</i>
                    </a>
                    <a *ngIf="user" (click)="removeItem(solicitud)" title="Eliminar">
                        <i class="material-icons campored1">clear</i>
                    </a>
                </div>
            </td>

         </tr>
                  
    </table>

    <button md-fab *ngIf="user" class="float-action1" disableRipple="true">
        <i class="material-icons float-action-icon1" (click)="newItem()">add</i>
    </button>
           
    <br />

</div>
</md-sidenav-layout>
<!--<nav class="circular-menu">
    <i class="menu-button fa fa-plus fa-lg" (click)="newItem()" title="Nuevo"></i>
</nav>-->