.recover-title {
    position: relative;
    margin: auto;
    font-size: x-large;
    display: block;
    color: #05AFA8
}

.container-forgot {
    padding-top: 100;
    position: relative;
    margin: auto;
    display: block;
    width: 800;
    text-align: center;
}

.recover-form {
    position: relative;
    margin: auto;
    display: inline-block;
    width: 800;
}

.forgot-icon {
    position: relative;
    margin: auto;
    display: inline-block;
}