<md-toolbar class="md-accent">
    <img class="toolbar-logo" src="assets/satlogo.png"/>
    <h1 class="toolbar-title">SAT - Sistema de Automatizacion de Tramites</h1>
    <span class="app-toolbar-filler"></span>
</md-toolbar>

<div class="container-forgot">
    
    <form class="recover-form" name="userForm" (submit)="onForgotPassword(email.value); email.value=''">
        <h1 class="recover-title">Recuperar contraseña</h1>
        <h2>Podemos ayudarte a recuperar tu contraseña usando el correo electronico con el que te registraste</h2>
        <div class="icon-sect forgot-icon">
            <span md-prefix>
                    <i class="material-icons app-input-icon icon-space">email</i>
            </span>
            <md-input #email type="email" placeholder="Email" class="auth-input" required></md-input>
        </div>
        <div>
            <button md-raised-button disableRipple="true" class="auth-button" type="submit">RECUPERAR CONTRASEÑA</button>
        </div>
    </form>
    <br/>
    <br/>
    <br/>
</div>