<!--<md-sidenav-layout>
    <md-sidenav #start class="app-sidenav" mode="side">
        <div><img class="form-logo" src="assets/satlogo2.png"></div>
        <ul>
            <li class="menu" *ngFor="let hero of menus" (click)="onSelect(hero)">
                <span>{{hero.name}}</span>
            </li>
        </ul>
    </md-sidenav>-->
    <md-toolbar class="md-accent">
        <i class="material-icons addgreenback icon-space">chevron_left</i>
        <i class="material-icons addgreenback icon-space">keyboard_backspace</i>
        <i class="material-icons addgreenback icon-space">arrow_back</i>
        <!--<i class="material-icons app-input-icon icon-space" (click)="start.toggle()">menu</i>-->
        <img class="toolbar-logo" src="assets/satlogo.png"/>
        <h1 class="toolbar-title">SAT - Sistema de Automatizacion de Tramites</h1>
        <span class="app-toolbar-filler"></span>
    </md-toolbar>
        <button md-fab disableRipple="true" class="float-back-button" (click)="onBack()">
            <i class="material-icons addgreenback">chevron_left</i>
        </button>
        <button md-fab disableRipple="true" class="float-back-button" (click)="onBack()">
            <i class="material-icons addgreenback">keyboard_backspace</i>
        </button>
        <button md-fab disableRipple="true" class="float-back-button" (click)="onBack()">
            <i class="material-icons addgreenback">arrow_back</i>
        </button>
    <div>
        <div class="container" style="width: 600;">
            <form name="userForm1" (submit)="createProcedure(nombre.value,descripcion.value)">
                <div>
                    <div style="float:left;width:70%;">
                        <md-input #nombre type="text" placeholder="Nombre de Trámite" class="left-input" maxlength="10"
                                  [(ngModel)]="tramiteSelected.nombre" name="nombre" required>
                        </md-input>
                    </div>
                    <div style="float:left;width:30%;">
                        <button md-raised-button disableRipple="false" class="left-button" type="submit"
                                style="font-size:75%;">CREAR/EDITAR
                        </button>
                    </div>

                </div>
                <div>
                    <div style="float:left;width:100%;">
                        <md-input #descripcion type="text" placeholder="Descripción de Trámite" class="left-input" maxlength="50"
                                  [(ngModel)]="tramiteSelected.descripcion" name="descripcion" required>
                        </md-input>
                    </div>

                </div>
                <div class="container-title">
                    <span style="color: #05AFA8;padding-top:150;font-size:150%;">CAMPOS DE TRAMITE</span>
                    <i class="material-icons addgreen" (click)="onFielDetail()">note_add</i>
                </div>
                <ul class="campo">
                    <li *ngFor="let campo of camposSelected">
                        <span>{{campo.nombre}}</span>
                        <i class="material-icons campored" (click)="onSelectRemoveCampo(campo)">clear</i>
                        <i class="material-icons campogreen" (click)="onSelectEditCampo(campo)">mode_edit</i>
                    </li>
                </ul>

            </form>
        </div>

        <div style="  margin: 0">

        </div>

    </div>
<!--</md-sidenav-layout>-->