<md-toolbar class="md-accent">
    <img class="toolbar-logo" src="../assets/satlogo.png" />
    <h1 class="toolbar-title">SAT - Sistema de Automatizacion de Tramites</h1>
    <span class="app-toolbar-filler"></span>
</md-toolbar>

<div class="container">

        <h2>
            Bandeja Trámites
        </h2>
        <div style="text-align:right; ">

            <h5>
                Bienvenido: {{username}}
            </h5>
        </div>

     <table>
          
        <tr *ngFor="let tramite of selectTramite">
            <td>
                <div>
                    <strong>ID: {{tramite.id}} | {{tramite.nombre}}</strong>
                    <br />
                    {{tramite.descripcion}}
                </div>
            </td>
            <td>
                <div style="display: flex; ">
                        <a (click)="editItem(tramite)" title="Editar">
                            <i class="large material-icons">
                                mode_edit
                            </i>
                        </a>
                        <a (click)="removeItem(tramite)" title="Eliminar">
                            <i class="large material-icons">
                                delete
                            </i>
                        </a>
                </div>
            </td>

         </tr>
                  
    </table>
    
    <nav class="circular-menu">        
        <i class="menu-button fa fa-plus fa-lg" (click)="newItem()" title="Nuevo"></i>
    </nav>
           
    <br />
  

</div>
<br />