.request-detail {
    display: inline-block;
    width:40%;
    height:200px;
}

.second-div {
    vertical-align:top;
}
h1.request-header {
    color: #05AFA8;
    font-family: Arial, Helvetica, sans-serif;
}

.request-subtitle {
    color: #05AFA8;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1em; 
}

.request-subtitle5 {
    color: #05AFA8;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1.5em; 
}

.block-container {
    margin: 0 auto;
    display: block;
}