<md-toolbar class="md-accent">
    <img class="toolbar-logo" src="assets/satlogo.png" />
    <h1 class="toolbar-title">SAT - Sistema de Automatizacion de Tramites</h1>
    <span class="app-toolbar-filler"></span>
</md-toolbar>
<div class="container">
    <div><img class="form-logo" src="assets/satlogo2.png"></div>
    <form name="userForm" (submit)="onSignUp(ced.value,nickname.value,email.value,password.value,confirmpassword.value,phone.value);">
        <div class="icon-sect">
            <span md-prefix>
                <i class="material-icons app-input-icon icon-space">chrome_reader_mode</i>
            </span>
            <md-input #ced type="number" placeholder="Cedula" class="auth-input" required></md-input>
        </div>
        <div class="icon-sect">
            <span md-prefix>
                <i class="material-icons app-input-icon icon-space">assignment_ind</i>
            </span>
            <md-input #nickname type="text" placeholder="Nombre" class="auth-input" required></md-input>
        </div>
        <div class="icon-sect">
            <span md-prefix>
                <i class="material-icons app-input-icon icon-space">email</i>
            </span>
            <md-input #email type="email" placeholder="Email" class="auth-input" required></md-input>
        </div>
        <div class="icon-sect">
            <span md-prefix>
            <i class="material-icons app-input-icon icon-space">phone</i>
        </span>
            <md-input #phone type="phone" placeholder="Telefono" class="auth-input" required></md-input>
        </div>
        <div class="icon-sect">
            <span md-prefix>
                <i class="material-icons app-input-icon icon-space">vpn_key</i>
            </span>
            <md-input #password type="password" placeholder="Contraseña" class="auth-input" required></md-input>
        </div>
        <div class="icon-sect">
            <span md-prefix>
                <i class="material-icons app-input-icon icon-space">vpn_key</i>
            </span>
            <md-input #confirmpassword type="password" placeholder="Confirmar contraseña" class="auth-input" required></md-input>
        </div>
        <div>
            <span>
            La contraseña debe tener entre 8 y 16 caracteres, un numero, una minuscula, una mayuscula y uno de los siguientes caracteres !%*$"
        </span>
        </div>
        <div>
            <button md-raised-button disableRipple="false" class="auth-button " type="submit">CREAR CUENTA</button>
        </div>
    </form>
    <div class="hr-sect">Ya tienes cuenta?</div>
    <div>
        <button md-raised-button disableRipple="true" class="auth-button" (click)="onSignIn()">INICIAR SESION</button>
    </div>
    <br/>
    <br/>
    <br/>
</div>
<div>
    <span>
                El Sistema de Automatización de Trámites en cumplimiento con lo dispuesto en la Ley Estatutaria 1581 de 2012 y sus normas reglamentarias y complementarias, garantiza de forma integral la proteccion y el ejercicio del derecho fundamental de Habeas Data de todos los titulares de la información de carácter personal, de la cual sea responsable o encargada de su tratamiento, asi mismo garantizarà en todo momento los derechos fundamentales a la intimidad, el buen nombre y la privacidad de las personas.
    </span>
</div>
<br/>
<br/>
<br/>