<div class="container">
    <div><img class="form-logo" src="assets/satlogo2.png"></div>
    <div class="form-element">
        <md-input #nickname type="number" placeholder="Cedula" class="auth-input"></md-input>
    </div>
    <div class="form-element">
        <md-input #nickname type="text" placeholder="Nombre" class="auth-input"></md-input>
    </div>
    <div class="form-element">
        <md-input #nickname type="email" placeholder="Email" class="auth-input"></md-input>
    </div>
    <div class="form-element">
        <md-input #password type="password" placeholder="Contraseña" class="auth-input"></md-input>
    </div>
    <div class="form-element">
        <md-input #password type="password" placeholder="Confirmar contraseña" class="auth-input"></md-input>
    </div>
    <div>
        <button md-raised-button disableRipple="false" class="auth-button ">ACTUALIZAR PERFIL</button>
    </div>
</div>