<md-toolbar class="md-accent">
    <img class="toolbar-logo" src="assets/satlogo.png"/>
    <h1 class="toolbar-title">SAT - Sistema de Automatizacion de Tramites</h1>
    <span class="app-toolbar-filler"></span>
</md-toolbar>
<div class="container">

    <form name="userForm1"  (submit)="updateUser(ced.value,nickname.value,email.value,password.value,confirmpassword.value,phone.value);">
        <div class="icon-sect">
         <span md-prefix>
                <i class="material-icons app-input-icon icon-space">chrome_reader_mode</i>
            </span>
            <md-input #ced type="number" placeholder="Cedula" class="auth-input" required  >
                <span placeholder="Cedula">{{selectUser.cedula}}</span>
            </md-input>
        </div>
        <div class="icon-sect">
         <span md-prefix>
                <i class="material-icons app-input-icon icon-space">assignment_ind</i>
            </span>
            <md-input #nickname type="text" placeholder="Nombre" class="auth-input"  val required>
                <span placeholder="Nombre">{{selectUser.nombre}}</span>
            </md-input>
        </div>
        <div class="icon-sect">
         <span md-prefix>
                <i class="material-icons app-input-icon icon-space">email</i>
            </span>
            <md-input #email type="email" placeholder="Email" class="auth-input" required>
                <span placeholder="Email">{{selectUser.email}}</span>
            </md-input>
        </div>
        <div class="icon-sect">
            <span md-prefix>
                <i class="material-icons app-input-icon icon-space">vpn_key</i>
            </span>
            <md-input #password type="password" placeholder="Contraseña" class="auth-input" required>
                <span placeholder="Contraseña">{{selectUser.password}}</span>
            </md-input>
        </div>
        <div class="icon-sect">
            <span md-prefix>
                <i class="material-icons app-input-icon icon-space">vpn_key</i>
            </span>
            <md-input #confirmpassword type="password" placeholder="Confirmar contraseña" class="auth-input" required>
                 <span placeholder="Confirmar contraseña" >{{selectUser.confirmPassword}}</span>
            </md-input>
        </div>
        <div class="icon-sect">
            <span md-prefix>
                <i class="material-icons app-input-icon icon-space">phone</i>
            </span>
            <md-input #phone type="phone" placeholder="Telefono" class="auth-input" required>
                <span placeholder="Telefono">{{selectUser.telefono}}</span>
            </md-input>
        </div>
        <div>
            <button md-raised-button disableRipple="false" class="auth-button " type="submit">ACTUALIZAR PERFIL</button>
        </div>
    </form>
</div>