<md-toolbar class="md-accent">
    <img class="toolbar-logo" src="../assets/satlogo.png" />
    <h1 class="toolbar-title">SAT - Sistema de Automatizacion de Tramites</h1>
    <span class="app-toolbar-filler"></span>
</md-toolbar>

<div class="container">

        <h2>
            Bandeja Usuarios
        </h2>
        <div style="text-align:right; ">

            <h5>
                Bienvenido: {{username}}
            </h5>
        </div>

     <table>
          
        <tr *ngFor="let usuario of selectUsuario">
            <td style="width:95%">
                <div>
                    <strong>Documento: {{usuario.cedula}} | {{usuario.nombre}}</strong>  
                    <br />          
                    {{usuario.tipo}}       
                </div>
            </td>
            <td style="width:5%">
                <div style="display: flex; ">
                    <a (click)="editItem(usuario)" title="Editar">
                        <i class="large material-icons">
                            mode_edit
                        </i>
                    </a>
                    <a (click)="removeItem(usuario)" title="Eliminar">
                        <i class="large material-icons">
                            delete
                        </i>
                    </a>
                </div>
            </td>

         </tr>
                  
    </table>
    
    <nav class="circular-menu">        
        <i class="menu-button fa fa-plus fa-lg" (click)="newItem()" title="Nuevo"></i>
    </nav>
           
    <br />
    <div id="p-5-box-77" class="box pos type-rectangle group-bda8129a-1f62-42e2-93af-cf12cd722b3b" 
         data-shape-type="rectangle" style="opacity: 1; width: 364px; height: 208px; 
        transform: matrix(1, 0, 0, 1, 81, 102);" data-component-type="rectangle">
    <style>
        #p-5-box-77 .inner-rec {
            background-color: #E2E2E2;
            border: 0px solid #555555;
            border-radius: 0px;
        }

        #p-5-box-77 .shapes-text-container {
            font-family: sans-serif,Helvetica Neue,Arial;
            ;
            font-size: 16px;
            text-align: center;
            line-height: 20px;
            letter-spacing: 0px;
            color: #383838;
        }
    </style>
    <div id="rec-p-5-box-77" 
         class="inner-rec liveUpdate-backgroundColor liveUpdate-backgroundColor-background-color changeProperty-backgroundColor changeProperty-backgroundColor-background-color changeProperty-borderColor changeProperty-borderColor-border-color liveUpdate-borderColor liveUpdate-borderColor-border-color">
        <div 
             class="shapes-text-container liveUpdate-textColor ">
        <span data-editableproperty="text"></span>
        </div>
        </div>
    </div>

</div>
<br />